Tuples are immutable and can store different data types

In [11]:
# Way of creating tuple
tup = 'Red', # Comma at the end is important
tup2 = ('Green', 'Black')
print(type(tup))
print(tup2)

<class 'tuple'>
('Green', 'Black')

Tuples don't support the methods that are applicable in a list

In [ ]:
# tup.append('Blue') # Creates an error

AttributeError: 'tuple' object has no attribute 'append'

All other operations are similar to lists

In [14]:
# e.g.
tup3 = ('Ten',)*10
print(tup3)

('Ten', 'Ten', 'Ten', 'Ten', 'Ten', 'Ten', 'Ten', 'Ten', 'Ten', 'Ten')

Slicing in tuples

In [17]:
# Its similar to lists
tup4 = (1,2,3,'x',False,'Tuples')

In [18]:
tup4[:3]

(1, 2, 3)

In [19]:
tup4[2:5]

(3, 'x', False)

In [20]:
tup4[::-1]

('Tuples', False, 'x', 3, 2, 1)

In [21]:
tup4[::2]

(1, 3, False)

Unpacking

In [23]:
tup5 = tuple('This is a tuple')
print(tup5)

('T', 'h', 'i', 's', ' ', 'i', 's', ' ', 'a', ' ', 't', 'u', 'p', 'l', 'e')

Can't delete individual elements of a tuple but can delete the tuple entirely

In [24]:
delTup = (1,2,3,4,5,6)
print(delTup)

(1, 2, 3, 4, 5, 6)

In [25]:
del delTup
print(delTup)

NameError: name 'delTup' is not defined

Built-in functions for tuples

In [27]:
tup6 = (1,2,2,3,4,4,2,2,5,7)

In [30]:
# Count particular element
tup6.count(4)

2

In [31]:
len(tup6)

10

In [32]:
min(tup6)

1

In [33]:
max(tup6)

7

In [34]:
sum(tup6)

32

Converting list to tuple

In [35]:
lst = [1,2,3,4,5]
type(lst)

list

In [36]:
tupp = tuple(lst)
print(tupp)
type(tupp)

(1, 2, 3, 4, 5)

tuple

Nesting tuples in a list

In [38]:
tupLst = [(1,2,3), ('a','b','c')]
print(tupLst)
type(tupLst[1])

[(1, 2, 3), ('a', 'b', 'c')]

tuple

In [40]:
# can also perform list operations
tupLst.append((6,7,8))
print(tupLst)

[(1, 2, 3), ('a', 'b', 'c'), 'hello', (6, 7, 8)]

In [ ]:
tupLst.remove(tupLst[1]) # or tupLst.remove(('a','b','c'))
print(tupLst)

[(1, 2, 3), (6, 7, 8)]

In [ ]:
tupLst[0].remove(2) # error

AttributeError: 'tuple' object has no attribute 'remove'

Nesting lists within tuple

In [47]:
lwt= ([1,2,3], [4,5,6])
print(lwt)

([1, 2, 3], [4, 5, 6])

In [48]:
# can perform list operations to nested lists
lwt[0].append(4)
print(lwt)

([1, 2, 3, 4], [4, 5, 6])

In [49]:
lwt[0].remove(2)
print(lwt)

([1, 3, 4], [4, 5, 6])